.formFiltro {
    display: flex;
    /* justify-content: left; */
    margin: 20px 0;
    
}

.inputFiltro {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #ebe4e4; 
    margin-left: 10px;

  }
  