.formFiltro {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.inputFiltro {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    border: 2px;
    background-color: #4a4a6f; /* Fondo similar al color oscuro de Favoritos */
    color:  #fff;

  }