.cardContainer {
    display: flex;
    flex-wrap: wrap; 
    justify-content:left; 
    flex-direction: row;
    width: 100%;
}

.pelicula-card {
    margin-bottom: 20px;
    color: #777;
    font-size: 15px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
    width: 18%;
    margin: 3px;
}

.pelicula-card img{
    width: 100%;
    margin-bottom: 20px; 
}
.pelicula-card:hover,
.active{
box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%);
}
.pelicula-card p {
    margin: 3px 0;
}
.pelicula-card h2 {
    margin: 2px 0;
}

.conteiner-cargando{
    display: flex;
    justify-content: center;  
    align-items: center;      
    flex-direction: column;   
    height: 100vh;            
    width: 100vw;            
    position: fixed;          
    top: 0;                  
    left: 0;                  
    background-color: rgb(255, 255, 255); 
}

.cargando{
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 10px;
   }
     
.pelicula-card-det {
  background-color: #dadbd9;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align:center;
  

}

.tituloDetalle {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
  }
  
.imgDet {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
 
  .rating,
  .release,
  .duration,
  .overview,
  .genre {
    font-size: 1.2em;
    color: #555;
    margin: 10px 0;
  }

.eliminarFav{
    background-color: #655c64; 
    color: #ffffff; 
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ;
}

.more{
    background-color: #655c64; 
    color: #ffffff; 
    border: none;
    padding: 5px 10px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ;
}

.verTodas{
    background-color: #655c64; 
    color: #ffffff; 
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ;
    margin:20% 0;
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail{
    background-color: #897c87; 
    color: #ffffff; 
    margin-left: 10px;
    border: none;
    padding: 5px 10px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ;
}

.more:hover,
.detail:hover,
.eliminarFav:hover {
    background-color: #371352;
    cursor: pointer;
}

i.fas.fa-heart {
    color: #be1919; 
    display: flex;
    justify-content: flex-end;
    margin-top: -20px; 
    
  }

i.far.fa-heart {
    color: #3a3538; 
    display: flex;
    justify-content: flex-end;
    margin-top: -7%; 
  }

.show{
    display: block;
}
.hide{
    display: none;
}

/* RESPONSIVE */
@media (max-width: 460px) {
  
    .cardContainer {
      flex-direction: column;
      align-items: center;
      margin-left: 0;
    }

    .pelicula-card {
        width: 85%;
      }

  }
  @media (max-width: 1200px) {
    .pelicula-card {
        width: 22%;
    }
  }

@media (max-width: 992px) {
    .pelicula-card {
        width: 30%;
    }
}

@media (max-width: 768px) {
    .pelicula-card {
        width: 45%;
    }
}

@media (max-width: 576px) {
    .pelicula-card {
        width: 90%;
    }
}
