
.todas{
    display: flex;
    flex-direction: column;
    
}

.tituloTodas{
    padding-left: 10px;
    margin-bottom: 0%;
}



.cargando{
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-align: center;
   }
   
     i.fa-spinner {
       color: rgb(0, 0, 0); 
       font-size: 1.5rem; 
       flex-direction: row;
       display: flex;
       justify-content: center;
   
     }
     
.more{
    background-color: #655c64; 
    color: #ffffff; 
    border: none;
    padding: 5px 10px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ;
}

.detail{
    background-color: #897c87; 
    color: #ffffff; 
    margin-left: 10px;
    border: none;
    padding: 5px 10px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ;
}

.more:hover,
.detail:hover {
   
    background-color: #371352;
    cursor: pointer;
}

i.fas.fa-heart {
    color: #be1919; /* cambia el color del ícono a rosa */
  }

i.far.fa-heart {
    color: #3a3538; /* cambia el color del ícono a rosa */
  }

.show{
    display: block;
}
.hide{
    display: none;
}

